.bagulho-principal{
    width: 100%;
    min-height: 60vh;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 25% 74%;
    gap: 1vw;
}

.bagulho-principal::before {
    content: "";
    position: fixed;        
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    
    width: 110vh;
    height: 110vh;

    background: url("/Imagens/logo-Photoroom.png") center / contain no-repeat;
    opacity: 0.4;
    pointer-events: none; 
    z-index: -10;
}

.duas-colunas-cadastro{
    width: 100%;
    min-height: 60vh;
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50%;
}

.Cadastro-grande{
    color: var(--laranja);
    font-family: var(--fonte-Gotica);
    font-size: 50px;
}

.Sub-Cadastro{
    font-family: var(--fonte-inter);
    color: var(--branco);
    font-size: 14px;
    margin-left: 0.5vw;
    margin-top: 3vh;
}

.Parte-da-Esquerda{
    display: flex;         
    flex-direction: column;     
    justify-content: center;   
    align-items: center;        
    text-align: center;         
}

.Champions-do-Forms{
    font-family: var(--fonte-Gotica);
    font-size: 24px;
    color: var(--branco);
    margin-bottom: 2vh;
    font-weight: 500;
    text-align: left;
}

.input-group input {
    width: 100%;
    height: 44px;
    background-color: transparent;
    border: 1px solid #fb9a03;
    border-radius: 12px;
    color: #fff;
    padding: 0 15px;
    font-family: var(--fonte-inter);
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-group input:focus {
    box-shadow: 0 0 8px rgba(251, 154, 3, 0.6);
    border-color: #fff;
}

.borda-cadastro{
    margin: 2vw 3vw;
    border: 1px solid var(--laranja);
    border-radius: 22px;
    padding: 2vw;
}

.espacamento-rodape-Cadastro{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.submit-btn {
    width: 100%;
    height: 46px;
    background-color: #fb9a03;
    border: none;
    border-radius: 14px;
    color: #000;
    font-family: var(--fonte-inter);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-btn:hover {
    background-color: #ffaa33;
    transform: scale(1.10);
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
}

.input-group label {
    font-family: var(--fonte-inter);
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    width: 100%; /* Espaço para o label */
    text-align: right;
    padding-right: 15px;
    margin-bottom: 4px;
}

.input-group select {
    width: 100%;
    height: 44px;

    background-color: transparent;
    border: 1px solid #fb9a03;
    border-radius: 12px;

    color: #fff;
    padding: 0 15px;
    padding-right: 45px;

    font-family: var(--fonte-inter);
    outline: none;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='%23fb9a03' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 18px;
}

.input-group select:focus {
    box-shadow: 0 0 8px rgba(251, 154, 3, 0.6);
    border-color: #fff;
}

.input-group select option {
    background-color: var(--preto);
    border: var(--laranja);
}
