/*
    Tá tudo baguncado, da um control+f pra achar
*/

.container-centro {
    display: grid;
    grid-template-columns: 27vw 45vw 27vw;
    margin-top: 2vh;
}

.tamanhos {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 52vh;
}

.tres-linhas {
    display: grid;
    grid-template-rows: max-content;
    row-gap: 6vh;
    align-content: start;
}

.informacoes {
    display: grid;
    text-align: left;
    padding: 1.5vh 7vh 1.5vh 1.5vh;
    background-color: #111111;
    border-radius: 16px;
    transform: translateX(-4vw);
}

.Numero-centro {
    color: var(--laranja);
    font-size: var(--fonte-media-grande);
    font-family: var(--fonte-inter);
    padding: 0.1vw;
}

.Texto-centro {
    color: var(--branco);
    font-size: var(--fonte-media-pequena);
    font-family: var(--fonte-inter);
    padding: 0.1vw;
    margin-top: 3px;
}

.topo {
    margin-top: 6vh;
}

.baixo {
    margin-bottom: 6vw;
}

.duas-linhas {
    display: grid;
    grid-template-rows: max-content;
    row-gap: 10vh;
    align-content: start;
}

.Inscrições-Bloco {
    display: flex;
    padding: 0.7vw 3vw;
    background-color: var(--laranja);
    border-radius: 14px;
    color: var(--preto);
    font-size: var(--fonte-link);
    font-family: var(--fonte-inter);
    transition: transform 0.3s ease;
    transform: translateX(2vw);
    text-align: center;
    justify-content: center;
}

.Inscrições-Bloco:hover {
    transform: translateX(2vw) scale(1.25);

}

.Ver-Atividade-Bloco {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0.7vw 2vw;
    border-radius: 14px;
    border: 1px solid var(--laranja);
    color: var(--laranja);
    font-size: var(--fonte-link);
    font-family: var(--fonte-inter);
    transition: transform 0.3s ease;
    transform: translateX(2vw);
}

.Ver-Atividade-Bloco:hover {
    transform: translateX(2vw) scale(1.25);
}

.top {
    margin-top: 16vh;
}

.Texto-EmCima-Logo {
    color: var(--laranja);
    font-size: var(--fonte-gigante);
    font-family: var(--fonte-Gotica);
    margin-top: 3vh;
}

.texto-foto-texto {
    display: grid;
    grid-template-rows: max-content;
    row-gap: 0.5vh;
    align-content: start;
}

.logo-central {
    margin-top: -11vh;
    margin-bottom: -14vh;
    max-width: 58vh;
    max-height: 58vh;
}

.Texto-EmBaixo-Logo {
    font-family: var(--fonte-Gotica);
    font-size: var(--fonte-media-grande);
    color: var(--laranja);
}

.container-centro-celular {
    display: none;
}

@media (max-width: 1400px) {

    .Inscrições-Bloco,
    .Ver-Atividade-Bloco {
        font-size: var(--fonte-link-tablet);
        padding: 1vw 3vw;
    }

    .Numero-centro,
    .Texto-EmBaixo-Logo {
        font-size: var(--fonte-media-grande-tablet);
    }

    .Texto-centro {
        font-size: var(--fonte-media-pequena-tablet);
    }
}

@media (max-width: 900px) {
    .container-centro {
        display: none;
    }

    .Imagem-PaginaInicial {
        position: relative;
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 10vh;
    }

    .Imagem-PaginaInicial::before {
        content: "";
        position: absolute;
        inset: 0;

        background-image: url("/Imagens/logo-Photoroom.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 65vh;

        opacity: 0.4;
        pointer-events: none;
    }

    .container-centro-celular {
        display: block;
        grid-template-columns: 100%;
        margin-top: 2vh;
    }

    .Texto-EmCima-Logo {
        font-size: var(--fonte-gigante-celular);
        text-align: center;
    }

    .Texto-EmBaixo-Logo {
        text-align: center;
        color: var(--branco);
        font-size: var(--fonte-media-grande-celular);
    }

    .Numero-centro {
        font-size: var(--fonte-media-grande-celular);
    }

    .Texto-centro {
        font-size: var(--fonte-media-pequena-celular);
    }

    .separa {
        margin-right: 5vw;
    }

    .botoes-PaginaInicial {
        display: flex;
        padding-top: 10vh;
    }

    .bagulhos-Vagas-PaginaInicial {
        display: flex;
        justify-content: center;
        gap: 3vw;
        align-items: center;
    }

    .informacoes {
        display: grid;
        text-align: left;
        padding: 1.5vh 7vh 1.5vh 1.5vh;
        background-color: #111111;
        border-radius: 16px;
        transform: translateX(0vw);
        width: 28vw;
    }

    .Texto-centro {
        margin-top: 10px;
    }

    .Inscrições-Bloco,
    .Ver-Atividade-Bloco {
        font-size: var(--fonte-link-celular);
        padding: 1.5vw 6vw;
    }

    .Sematron-Inicio {
        font-size: var(--fonte-grande-celular);
    }
}