.Parte-De-Cima-Contato{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 40vh;
}

.Imagem-Contato{
    position: relative;
}

.Imagem-Contato::before{
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("/Imagens/logo-Photoroom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 65vh;

    opacity: 0.4;
    pointer-events: none;
}

.texto-contato{
    display: flex;         
    flex-direction: column;     
    justify-content: center;   
    align-items: center;        
    text-align: center; 
}

.Tit-Cont{
    color: var(--laranja);
    font-size: 52px;
    font-family: var(--fonte-Gotica);
}

.Sub-Cont{
    color: var(--branco);
    font-size: 18px;
    font-family: var(--fonte-Gotica);
    margin-top: 3vh;
}

.mapinha{
    display: flex;
    margin-top: 3vh;
    margin-left: 10vw;
    width: 80vw;
    height: 40vh;
    border: 2px solid var(--laranja);
    border-radius: 30px;
}

.mapa{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.informacoes-contato{
    padding: 3vh 2vw;
    margin-right: 5vw;
    margin-left: 3vw;
    border: 1px solid var(--laranja);
    border-radius: 22px;
}

.titulo-contato{
    font-family: var(--fonte-Gotica);
    font-size: 22px;
    color: var(--laranja);
    margin-bottom: 4vh;
}

.textinho-foda-contato{
    font-family: var(--fonte-inter);
    font-size: 16px;
    color: var(--laranja);
    margin-bottom: 5px;
}