.listra-laranja{
    display: flex;
    width: 100vw;
    height: 0.4vh;
    background-color: var(--laranja);
}

.Parte-De-Cima{
    display: flex;
    width: 100vw;
    height: 8vh;
}

.Logo-Inicio{
    margin-left: 1vw;
    margin-right: -0.9vw;
    max-width: 9vh;
    max-height: 9vh;
}

.Sematron-Inicio{
    color: var(--branco);
    font-size: xx-large;
    font-family: var(--fonte-Gotica);
    color: var(--laranja);
    margin-right: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Link-Do-Topo{
    color: var(--branco);
    font-size: larger;
    font-family: var(--fonte-Gotica);
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Links{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}
