.separa-em-tres{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    min-height: 55vh;
}
.sn-grande {
    color: var(--laranja);
    font-family: var(--fonte-Gotica);
    font-size: var(--fonte-grande-gigante);
    margin-bottom: 3vw;
}

.separa-em-tres::before {
    content: "";
    position: fixed;        
    top: 50%;
    left: 50%;
    transform: translate(-110%, -60%);
    
    width: 110vh;
    height: 110vh;

    background: url("/Imagens/logo-Photoroom.png") center / contain no-repeat;
    opacity: 0.4;
    pointer-events: none; 
    z-index: -10;
}

.teste{
    border: 1px solid aqua;
}

.borda-perfil{
    position: relative;             
    border: 1px solid #f5a000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 1.5vw; 
    margin: 3vh 3vw;
}

.borda-perfil::before{
    content: "";
    left: 0;
    position: absolute;
    text-align: left;
    top: -6px;         
    height: 6px;
    width: 100%;
    background-color: #f5a000;
    border-radius: 6px;
}

.texto-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.nome-bendito{
    font-family: var(--fonte-Gotica);
    font-size: var(--fonte-grande-gigante);
    color: var(--laranja);
}

.curso-que-faz{
    margin-top: 6vh;
    font-family: var(--fonte-inter);
    font-size: var(--fonte-grande);
    color: var(--branco);
}

.situacao-do-pix{
    font-family: var(--fonte-inter);
    font-size: var(--fonte-link);
    color: var(--branco);
    padding: 1.5vh 1vw;
    border-radius: 14px;
    margin-top: 7vh;
    margin-bottom: 7vw;
}

.spc{
    font-family: var(--fonte-inter);
    font-size: var(--fonte-link);
    color: var(--branco);
    padding: 1.5vh 1vw;
    border-radius: 14px;
    margin-top: 7vh;
    background-color: #c49300;
}

.email-do-ser{
    margin-top: 3vh;
    font-family: var(--fonte-inter);
    font-size: var(--fonte-media-grande);
    color: var(--branco);
}

.texto-badges{
    font-family: var(--fonte-inter);
    font-size: var(--fonte-media);
    color: var(--branco);
}

/* .infos-pessoas{
    display: inline-block;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 2vh;
    color: var(--branco);
    font-family: var(--fonte-inter);
    font-size: var(--fonte-media);
    padding: 1.5vh 1vw;
    background-color: var(--laranja);
    border-radius: 14px;
    transition: transform 0.3s ease;
    TESTE GRANDE
} */

.infos-pessoas:hover{
    transform: scale(1.25);
}

.spc:hover{
    transform: scale(1.05);
}

.segue-o-lider{
    color: var(--laranja);
    font-family: var(--fonte-Gotica);
    font-size: var(--fonte-grande-gigante);
}

.palavras-bonitas{
    font-family: var(--fonte-inter);
    color: var(--branco);
    font-size: var(--fonte-media-grande);
    margin-top: 6vw;
}

.perfil-bagulho{
    margin-top: 3vh;
    width: 100%;
}

.vaiSumir{
    display: none;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 2px solid var(--laranja);
    border-radius: 30px;
    margin-left: 10vw;
    margin-top: 5vh;
    padding: 4vh 2vw;
}

.vaiSumir.is-visible {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 2px solid var(--laranja);
    border-radius: 30px;
    margin-left: 10vw;
    margin-top: 5vh;
    padding: 4vh 2vw;
}

.textos-perfil{
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
}

.div-Perfil{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1vh;
}

.Tit-Perfil{
    color: var(--laranja);
    font-family: var(--fonte-Gotica);
    font-size: var(--fonte-grande);
    margin-right: auto;
}

.SubTit-Perfil{
    color: var(--branco);
    font-family: var(--fonte-inter);
    font-size: var(--fonte-media-pequena);
    margin-left: auto;
}

.certificados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
    flex-direction: column;
}

.botoes-perfil{
    display: inline-block;
    padding: 1vh 0.6vw;
    background-color: var(--laranja);
    color: var(--preto);
    font-family: var(--fonte-inter);
    font-size: var(--fonte-media-pequena);
    border-radius: 14px;
    transition: transform 0.3s ease;
}

.botoes-perfil:hover{
    transform: scale(1.25);
}

.palavra-certificado{
    color: var(--branco);
    font-family: var(--fonte-Gotica);
    font-size: var(--fonte-media-grande);
    margin-bottom: 4vh;
}

.borda-certificado{
    padding: 2vh 1vw;
    border: 1px solid var(--laranja);
    border-radius: 30px;
}

.espacamento-boto{
    display: flex;
    justify-content: space-between;
}

/* slk sifude 
papo
*/

@media(max-width: 1400px){
    .separa-em-tres{
        display: flex;
        flex-direction: column;
    }

    .borda-perfil{
        width: 80%;
        margin-left: 8vw;
    }

    .vaiSumir.is-visible{
        display: flex;
        flex-direction: column;
    }

    .sn-grande{
        font-size: var(--fonte-grande-gigante-tablet);
    }

    .situacao-do-pix{
        font-size: var(--fonte-link-tablet);
    }
    .spc{
        font-size: var(--fonte-link-tablet);
    }
    .email-do-ser{
        font-size: var(--fonte-media-tablet);
    }
    .texto-badges{
        font-size: var(--fonte-media-tablet);
    }
    .infos-pessoas{
        font-size: var(--fonte-media-tablet);
    }
    .segue-o-lider{
        font-size: var(--fonte-grande-gigante-tablet);
    }
    .palavras-bonitas{
        font-size: var(--fonte-media-grande-tablet);
    }
    .botoes-perfil{
        font-size: var(--fonte-media-pequena-tablet);
    }
    .palavra-certificado{
        font-size: var(--fonte-media-grande-tablet);
    }
    .nome-bendito{
        font-size: var(--fonte-grande-gigante-tablet);
    }
    .curso-que-faz{
        font-size: var(--fonte-grande-tablet);
    }
    .Tit-Perfil{
        font-size: var(--fonte-grande-tablet);
    }
    .SubTit-Perfil{
        font-size: var(--fonte-media-tablet);
    }
}

@media(max-width: 900px){
    .sn-grande{
        font-size: var(--fonte-grande-gigante-celular);
    }

    .situacao-do-pix{
        font-size: var(--fonte-link-celular);
    }
    .spc{
        font-size: var(--fonte-link-celular);
    }
    .email-do-ser{
        font-size: var(--fonte-media-celular);
    }
    .texto-badges{
        font-size: var(--fonte-media-celular);
    }
    .infos-pessoas{
        font-size: var(--fonte-media-celular);
    }
    .segue-o-lider{
        font-size: var(--fonte-grande-gigante-celular);
    }
    .palavras-bonitas{
        font-size: var(--fonte-media-grande-celular);
    }
    .botoes-perfil{
        font-size: var(--fonte-media-celular);
    }
    .palavra-certificado{
        font-size: var(--fonte-media-grande-celular);
    }
    .nome-bendito{
        font-size: var(--fonte-grande-gigante-celular);
    }
    .curso-que-faz{
        font-size: var(--fonte-grande-celular);
    }
    .Tit-Perfil{
        font-size: var(--fonte-grande-celular);
    }
    .SubTit-Perfil{
        font-size: var(--fonte-media-celular);
    }


}