/*
    Tá tudo baguncado, da um control+f pra achar
*/

.Palavra-Programacao{
    margin-bottom: 4vh;
}

.Borda-Programacao{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 87vw;
    margin-left: 5vw;
    border: 1px solid var(--laranja);
    padding: 1vw;
    border-radius: 16px;
    margin-bottom: 3vh;
}

.Circulo-programacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: var(--laranja);
    margin-right: 1vw;
}

.Mini-Logo-Preto-Programacao{
    width: 75%;
    height: 75%;
    margin: 0;
}

.Dia-Programacao{
    color: var(--branco);
    font-family: var(--fonte-inter);
    font-size: 14px;
}

.Borda-Detalhes-Programacao{
    background-color: var(--laranja);
    padding: 0.6vw 0.9vw;
    border-radius: 12px;
    margin-left: auto;
    color: var(--preto);
    font-family: var(--fonte-inter);
    font-size: 12px;
    transition: transform 0.3s ease;
}

.Borda-Detalhes-Programacao:hover{
    transform: scale(1.25);
}